* {
    /*margin and padding set to 0 moves the contents to right most part of the page without any spaces*/
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;/*changes the font family*/
  }  
  /*Sets the navigation menu to flex box*/
main {
    border: 1px solid black;
    height: 610px;
    display: flex;
    justify-content: space-between;
  }
  .nav-class {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    flex-grow: 1;
    background-color: black;
  }
.logo{
    background-color: green;
    color: white;
    padding: 10px;
    width: 100%;
    text-align: center;
}
nav a{
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 12px;
    text-align: center;
    width: 100%;
}
nav a:hover{
    background-color: darkgrey;
    color:cadetblue;
}

.flex-container{
    display: flex;
    padding-top: 10px;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    border: 2px solid;
    text-align: left;
    margin-top: 10px;
    margin: 10px;
    padding-top: 12px;
    padding-left: 10px;
    width: 100%;
    max-width: 20%;
}
h3{
    text-align: left;
}
.flex-left .card h3{
    margin-left: 2px;
}
li {
    margin-top: 20px;
    margin-bottom: 20px;
  }
ul {
    padding: 1px;  
    padding-left: 40px;
}
.fa-user{
    background-color: grey;
    width: 30px;
    height: 25px;
    padding-top: 7px;
    margin-right: 10px;
}
.header2{
    display: flex;
    padding: 10px;
    justify-content:space-around;
}
.flex-rows{
    display: flex;
    flex-direction: row;
    
}
.image-class{
    background-color:lightgray;
    text-align: center;
    margin-right: 10px;
}
img{
    width: 40%;
    height: 40%;
    padding: 15%;
}
@media only screen and (max-width: 600px) {
    .card {
      max-width: 40%;
    }
  }